body {
    color: #777777;
}
#navname {
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    margin-left: 15%;
}

main {
    background-color: #ffffff;
    width: 960px;
}



@media only screen and (min-width: 992px) {
    #navbarNav {
        margin-left: 40%;
    }
    
  }

