main {
    width: 960px;
    height: auto;
    margin: auto;
    /* background-color: #aaaaaa; */
}

h1, p {
    color: #ffffff;
    text-align: center;
    padding: 2rem;

}

h1 {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}



@media screen and (max-width: 992px) {
    main {
      width: auto;
    }

}