main {
    width: 960px;
    height: auto;
    margin: auto;
    /* background-color: #aaaaaa; */
}

body{
    color: #ffffff;
}

h1, p, h4 {
    text-align: center;
    padding: 2rem;

}

h1 {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

hr {
    background-color: #ffffff;
}

@media screen and (max-width: 992px) {
    main {
      width: auto;
    }

}